body {
	margin: 0px;
	padding: 0px;
}

footer {
	background-color: #222F3F;
}

.infoSectionHeader {
	background-color: #222F3F;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin-top: 10px;
	padding-top: 11px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	font-size: 1.4em;
}

.infoSectionBody {
	margin: 10px;
	padding:  10px;
}

h3 {
	font-color: #fff!important;
}

.floatleft {
	float: left;
}

.imgThumb {
	max-height: 150px;
	max-width: 150px;
	border: 1px solid #999;
	border-radius: 5px;
}

.ideaImage {
	padding: 20px;
}

.ideaText {
	color: #FFF; 
	padding-top: 20px;
}

.modalThumb {
	border: 1px solid #999;
	border-radius: 5px;
	max-height: 400px;
}

.modal h3 {
	margin-top: 0px;
}

input[type=checkbox], input[type=radio] {
	margin-right: 8px;
}

.toc {
	overflow-y: scroll; 
	background-color: #efefef; 
	padding: 10px; 
	border-radius: 5px;
}

.stickyToc {
	position: fixed;
	top: 25px;
}


/* MainImage styles control the homepage image and the text block that sits on top of the image */
.mainImage {
	background-color: #222F3F; 
	position: relative;
}

.mainImage img {
	border-bottom: 5px solid #222F3F; 
	opacity: .9;
}

.mainImage span.textContainer {
   color: white; 
   font: bold 45px Helvetica, Sans-Serif; 
   line-height: 72px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.mainImage span.spacer {
	padding: 5px;
}

.mainImage div.textContainer {
	position: absolute; 
	bottom: 50px; 
	right: 75px; 
	width: 100%;
	text-align: right;
}

@media only screen and (max-width : 768px) {
	.mainImage span.textContainer {
	   font: bold 25px Helvetica, Sans-Serif; 
	   line-height: 49px;
	}
	.mainImage div.textContainer {
		bottom: 30px; 
		right: 40px; 
	}
}

.mainColHeader {
	background-color: #efefef; 
	padding: 10px; 
	border-radius: 5px; 
	font-size: 35px; 
	width: 100%; 
	color: #222F3F; 
	font-weight: 500;
}

/* BOOTSTRAP OVERRIDES */

.btn-link {
	font-size: 1.1em;
	font-color: #333;
	
}

.btn-link a{
	font-color: #333;
	
}

.btn-primary {
	background-color: #F7931E;
	border: 0px;
}

.btn-primary:hover {
	background-color: #D07A15;
}

.navbar-default {
	background-color: #222F3F;
}

.navbar {
	height: 75px;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
	color: #FFF;
}

.nav>li>a {
	padding: 3px 15px;
	color: #337ab7;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #222F3F;
	color: #FFF;
	border-radius: 3px;
}

.navbar-nav>li {
	margin-left: 1em;
}

ol, ul {
	padding-left: 20px;
}

label {
	font-weight: normal;
}
